.Notes ul {
  list-style: none;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.Notes ul li {
  padding: 10px;
}

.Notes a {
  color: rgb(107, 68, 68);
  text-decoration: none;
}

.Notes a:hover {
  color: #ccc;
  text-decoration: none;
}

.NotesHeader {
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  margin: 10px;
}
